.logo{
    font-family: 'jost';
    text-transform: uppercase;
    font-weight: 600;
}

.nav{
    
    height: 5rem;
    width: 100%;
    padding: 0 6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}


.links{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    font-family: 'jost';
}

.links li{
    list-style: none;
}

.userinfo{
    display: flex;
    gap: 1rem;
    font-family: 'jost';
    
}
.userinfo h1{
    font-size: 1rem;
    border: 1px solid gray;
    padding: .3rem 2rem;
    border-radius: 1rem;
    font-weight: 500;
}

.userinfo button{
    padding: .3rem 1rem;
    border-radius: 1rem;
    border: none;
    background-color: beige;
    cursor: pointer;
    text-decoration: none;

}
